.container {
  box-sizing: border-box;
  padding: 95px 40px 0 40px;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 50px;
}

.title {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.fieldLabel {
  font-size: 14px;
  margin-bottom: 8px;
}

.input {
  border: none;
  border-bottom: 1px solid #d8d7d5;
  padding: 8px 0;
  font-size: 15px;
  outline: none;
  background: transparent;
  transition: border-color 0.3s;
}

.input:disabled {
  border-bottom: 1px solid #eee;
  color: #999;
}

.input::placeholder {
  color: #bbb;
}

.submitButton {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px 0;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}

.submitButton2 {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px 0;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}

.cancelButton {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  color: #555;
  font-size: 15px;
  padding: 8px 0;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}

.toggleButton {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  color: #333;
  padding: 8px 0;
  font-size: 14px;
  cursor: pointer;
}

.passwordForm {
  margin-top: 20px;
}

.message {
  text-align: center;
  font-size: 13px;
  margin-top: -10px;
  color: red;
}

.loading {
  padding: 120px;
  text-align: center;
  color: #777;
}

