.footer {
  border-top: solid 1px #dddddd;
  color: black;
  margin-top: auto;
  padding: 30px 40px 20px 40px;
  position: relative;
}

.container {
  margin: 0 auto;
}

.footerContent {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}

.footerSection p {
  line-height: 1.6;
  font-size: 13px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerSection ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 3px 3px;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 1px; /* 시작은 0% 너비 */
  background-position: left bottom;
  transition: background-size 0.3s ease;
  font-size: 13px;
}

.footerSection ul li a:hover {
  background-size: 100% 1px; /* hover 시 전체 너비로 */
}

.sidebar {
  /* border-left: solid 1px #dddddd; */
  padding-left: 10px;
}

.footerBottom {
  text-align: center;
}

.footerBottom p {
  color: black;
  margin: 0;
  font-size: 0.9rem;
}

.cornerLogo {
  position: absolute;
  bottom: 10px;
  right: 40px;
  z-index: 10;
}

.cornerLogoImage {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.cornerLogoImage:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 20px 20px 20px;
  }

  .footerSection ul li a {
    font-size: 12px;
  }

  .footerSection ul {
    gap: 5px;
  }

  .sidebar {
    /* border-left: solid 1px #dddddd; */
    padding-left: 0px;
  }

  .footerBottom p {
    font-size: 0.6rem;
  }

  .cornerLogo {
    bottom: 3px;
    right: 20px;
    z-index: 10;
  }
}
