.container {
  box-sizing: border-box;
  padding: 95px 40px 0 40px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.graybox {
  background-color: rgb(189, 189, 189);
  width: 50%;
  height: 300px;
  margin-top: 70px;
}

.description {
  margin-top: 70px;
}

.content {
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 0 0 0;
  }

  .graybox {
    width: 100%;
    height: 150px;
    margin-top: 0px;
  }

  .description {
    margin-top: -80px;
  }

  .content {
    margin-top: 120px;
  }
}
