.container {
  box-sizing: border-box;
  padding: 95px 40px 0 40px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* justify-content: center; */
}

.graybox {
  background-color: gray;
  width: 50%;
  height: 300px;
  margin-top: 70px;
}

.description {
  margin-top: 70px;
}

.content {
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
