.container {
  box-sizing: border-box;
  padding: 95px 40px 0 40px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
}

.description {
  margin-top: 100px;
}

.content {
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
